<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sudz</title>
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>
  <% include ../partial-header.ejs %>
  </header>

  <main>
    <% beers.forEach((each) => { %>
      <div class="beer-post">
        <h2> <%= each.beer_name %> </h2>
        <p> <%= each.beer_type %></p>
        <img src="<%= each.beer_image %>" alt="Beer!">
        <p> posted on: <%= each.created_at %></p>
      </div>
      <form method="POST" action="/beers/fav">
        <input type="hidden" name="beers[id]" value="<%= [each.id] %>">
        <input class="heart" type="submit" value="&#9829">
      </form>
    <% }) %>
  </main>

</body>
</html>
